/* styles.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #1b5692;
  color: #2b6bac;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  background-color: #343a40;
}

.navbar-brand {
  font-weight: bold;
  color: #2e2d81;
}

.navbar-nav .nav-link {
  color: #806ec1;
}

.navbar-nav .nav-link:hover {
  color: #44168e;
  opacity: 0.8;
}

/* Carousel */
.carousel-item img {
  height: 400px;
  object-fit: cover;
}

/* Featured Attractions */
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* Section Headings */
h2 {
  color: #343a40;
}

/* Forms */
.form-control {
  border-color: #0459af;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

/* Footer */
footer {
  background-color: #317dc9;
  color: #4c50d1;
}

/* Social Media Icons */
.footer-social i {
  font-size: 24px;
  margin: 0 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-nav {
    margin-left: auto;
  }
}

/* Animation */
@keyframes scaleHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
